.carouselImage {
  height: auto;
  border-radius: 5px;
}
.carouselMovieName {
  font-weight: bold;
  margin-bottom: 0%;
  max-width: 95%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.slick-slide > div {
  margin: 0 10px 0 0;
}
